 <br>
 <hr>
 <h4 class="alert alert-info text-center">Pregunta N° <b>0<%= @question.id %></b></h4>
 <div class="table-responsive">
    <table class="table">
      <tbody>
      <td></td>
      <td><%= @question.title %> </td>
      <td><%= @question.description %><br> <small style="color: #E82C0C; font-style: bold">Publicado por: </small></td>
    </tbody>      
      </tbody>
      </table>
  </div>
