  <hr>
  <h4 class="text-dark">Preguntas</h4>

  <table class="table table-xs">
    <% @questions.each do |question| %>
   
    <tr> 
    <tbody>
      <td> <%= question.vote %></td>
      <td> Respuestas </td>
      <td> <%= link_to question.title, question_path(question) %> <h6>Publicado por: </h6></td>
     
      <% end %>
    </tbody>
    </tr>
    
  </table>


