<!DOCTYPE html>
<html>
  <head>
    <title>Stackoverflow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

	<nav class="nav nav-pills nav-justified nav-dark">
	 <a class="nav-link active" href="#">Active</a>
	 <a class="nav-link" href="#">StackOverFlow</a>
	 <a class="nav-link" href="#">Ingresar</a>
		  <a class="nav-link" href="#">Registrarse</a>
	</nav>
  
  	<div class="container"> 
 	<%= yield %>
 	</div>

  </body>
</html>
